body {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.3em;
}

h1 {
  text-align: center;
}

.github-fork-ribbon:before {
  background-color: #333333;
}

.container {
  width: 800px;
  padding-bottom: 40px;
  margin: 40px auto;
}

.header-title {
  margin: 20px auto;
  padding: 0;
}

.hotkeys {
  text-align: center;
  letter-spacing: 0.04em;
  margin: auto;
  padding: 15px 0;
  border: 2px dashed #333;
  border-radius: 5px;
}

.hotkeys span {
  margin: 0 15px;
}

#canvas {
  width: 800px;
  height: 500px;
  border: 5px solid black;
  position: relative;
  margin: 20px auto;
  box-sizing: content-box;
}

#empty-block {
  float: left;
  width: 33.3%;
}

#speed-block {
  float: left;
  width: 33.3%;
  font-size: 110%;
  text-align: center;
}

#pause-block {
  float: left;
  width: 33.3%;
  color: red;
  font-style: italic;
  font-weight: bold;
  font-size: 110%;
  text-align: center;
}

* {
  box-sizing: border-box;
}
