body {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.5em;
}

.github-fork-ribbon:before {
  background-color: #333333;
}

.container {
  width: 808px;
  padding-bottom: 40px;
  margin: 40px auto;
}

h1 {
  text-align: center;
}

a, a:visited {
  color: #c00;
}

.header-title {
  margin: 15px auto;
  padding: 0;
}

.hotkeys {
  text-align: center;
  letter-spacing: 0.03em;
  margin: auto;
  padding: 15px 0;
  border: 2px dashed #333;
  border-radius: 5px;
}

.hotkeys span {
  padding-right: 30px;
}

#canvas {
  width: 800px;
  height: 500px;
  border: 5px solid black;
  border-radius: 5px;
  position: relative;
  margin: 20px auto;
  box-sizing: content-box;
}

.status {
  display: flex;
}

.left-box {
  flex: 1;
}

.middle-box {
  flex: 1;
  font-size: 110%;
  text-align: center;
}

.right-box {
  flex: 1;
  color: red;
  font-style: italic;
  font-weight: bold;
  font-size: 110%;
  text-align: center;
}

* {
  box-sizing: border-box;
}
